body {
  margin: 0;
  background-image: url('./img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: sans-serif;
}
#title {
  text-align: center;
  font-size: 6vw;
  margin-top: 20px;
}
.bots {
  width: 70%;
  margin-left: 15%;
  height: 34vw;
}
.bot {
  width: 24%;
  float: left;
  text-align: center;
  background-color: #72C6FF;
  height: 24vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px -5px black;
  cursor: pointer;
  transition: 0.2s;
}
.bot:hover {
  transform: scale(1.06);
}
#musix {
  float: right;
  background: linear-gradient(135deg, #000000 30%, #b50002 150%);
}
#futox {
  background: linear-gradient(135deg, #000000 30%, #ffbd06 150%);
}
.bots h1 {
  font-size: 3vw;
  margin-bottom: 1.2vw;
}
.bots p {
  font-size: 1.1vw;
  line-height: 1.6;
  margin: 0;
}
.avatar {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 60%;
  background-size: cover;
  border-radius: 50%;
}
#futox-avatar {
  background-image: url('https://cdn.discordapp.com/avatars/485430484424196106/eb81b569222dbb4f9add0a31b2744acd.png?size=2048');
}
#musix-avatar {
  background-image: url('https://cdn.discordapp.com/avatars/607266889537945605/fd4d7ec1b2b50ead0048d5a566395b59.png?size=2048');
}
.article {
  width: 84%;
  margin-left: 8%;
}
.article h1 {
  font-size: 34px;
  margin: 20px 0 10px 10px;
}
.article p {
  font-size: 20px;
  line-height: 1.6;
}
.article a {
  color: white;
}
@media (max-width: 768px) {
  #title {
    font-size: 12vw;
  }
  .bot {
    float: none;
    margin: 0;
    width: 80%;
    height: 40%;
    border-radius: 7vw;
    margin-bottom: 17%;
    text-align: center;
    margin-left: 6vw;
  }
  .bot h1 {
    font-size: 9vw;
  }
  .avatar {
    width: 40%;
    margin-left: 30%;
    padding-bottom: 40%;
  }
  .bot p {
    font-size: 6vw;
  }
  .bots {
    height: 250vw;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  #musix {
    float: none;
  }
  .article h1 {
    font-size: 35px;
  }
  .article p {
    font-size: 14px;
    line-height: 1.5;
  }
  body {
    background-image: url('./img/mobile_background.png');
    background-size: cover;
    background-position: bottom;
  }
}