body, html {
  width: 100%;
  margin: 0;
  background-color: #363636;
  font-family: Ubuntu, sans-serif;
}
header {
  width: 100%;
  background-color: #313131;
  height: auto;
}
header ul {
  list-style-type: none;
  margin: 0 30px 0 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: right;
  transition: 0.13s;
}
header li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}
header a {
  text-decoration: none;
  color: white;
}

.leftnav {
  width: 12%;
  height: 100%;
  min-width: 170px;
  background-color: #ffbd06;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  padding-bottom: 2px;
}
.leftnav p, .leftnav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.leftnav p {
  font-size: 28px;
  padding: 4px 0 4px 6px;
}
.leftnav li {
  text-align: right;
  padding: 4px 16px 6px 0;
  margin-bottom: 10px;
  border-right: 0 solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.1s;
}
.leftnav a {
  text-decoration: none;
  color: inherit;
}
.leftnav li:hover {
  border-right: 8px solid rgba(255, 255, 255, 0.5);
  padding-right: 18px;
}
article {
  display: inline;
  color: white;
}
article h1 {
  color: #cccccc;
}